<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CarRentalEntities" connectionString="metadata=res://*/CarRentalModel.csdl|res://*/CarRentalModel.ssdl|res://*/CarRentalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-42_DB;user id=PI21-42_User;password=w)b&gt;}a^(;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>